.team{
	padding: 50px 0 0 0;


		&__title {

			font-size: 32px;
			line-height: 53.86px;
			text-transform: uppercase;
			letter-spacing: -0.48px;
		}
		&__subtitle {
			color: #9aa0ab;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
		}
	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		border-bottom: 1px solid #e6eaed;
		padding:40px 0 62px 0;
	}
	&__btn {
		margin-left: auto;
		margin-top: 67px;
	}

	@media (max-width: 707px){
		&__row {
			flex-direction: column;
			padding: 0 0 20px 0;
		}
		&__item {
			width: 100%;
		}
		&__btn {
			margin-top: 20px;
		}
	}
	
}
.user {
	display: flex;
	padding-top: 40px;
		&__item {
			width: 150px;
			margin: 15px 0 0 22px;
		}
		&__name {
			color: #314a5b;
			font-family: Montserrat;
			font-size: 22px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: -0.33px;
			margin-bottom: 10px;
		}
		&__prof {
			color: #f0454c;
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			margin-bottom: 10px;
		}
		&__text {
			color: #9aa0ab;
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
		}
		@media (max-width: 707px) {
			.user {
				&__item {
					width: 100%;
				}
			} 
			
		}
}